:root {
	--primary-color: #1da1f2;
	--secondary-color: #14171a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@font-face {
	font-family: "Hashiba";
	src: url("../public/assets/Hashiba.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	/* font-family: "Hashiba", sans-serif; */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

img {
	pointer-events: none;
}

.MuiList-padding {
	padding: 0 !important;
}

/* width / height */
.custom-scrollbar::-webkit-scrollbar {
	height: 8px; /* horizontal */
	width: 8px; /* vertical */
}

/* track */
.custom-scrollbar::-webkit-scrollbar-track {
	background: #0a1621;
	border-radius: 10px;
}

/* thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, #22c55e, #16a34a);
	border-radius: 10px;
}

/* thumb hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, #4ade80, #22c55e);
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #22c55e #0a1621;
}
